<p style="color: green"><%= notice %></p>
<figure class="text-center">
<h1>Apoya a Las Artistas Cuban@s: Items Available</h1>
</figure><br>
<table class="table">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Warehouse</th>
      <th>Action</th>
    </tr>
  </thead>

  
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.artist %></td>
        <td><%= item.quantity%></td>
        <td><%= item.warehouse.name%></td>
        <td><%= link_to "View item details", item %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Add item", new_item_path %> | <%= link_to "Add Warehouse", new_warehouse_path%> | <%= link_to "View Warehouses", warehouses_path%>