<p style="color: green"><%= notice %></p>
<div class="container">
<h1>Warehouses</h1>

<div id="warehouses">
  <% @warehouses.each do |warehouse| %>
    <%= render warehouse %>
    <p>
      <%= link_to "Show this warehouse", warehouse %>
    </p><br>
  <% end %>
</div>

<%= link_to "Add Warehouse", new_warehouse_path %>
<%= link_to "Back to Items%", root_path>
</div>
